# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

build/
nanny
nanny.sqlite
*.tar.gz
*.deb
coverage.txt

debian/nanny.substvars
debian/debhelper-build-stamp
debian/files
debian/nanny.debhelper.log
debian/nanny.postinst.debhelper
debian/nanny.postrm.debhelper
debian/nanny.prerm.debhelper
main
nanny
