[Unit]
Description=Nanny monitoring API
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=nanny
Group=nanny
WorkingDirectory=/var/lib/nanny
Environment=LOGXI=*=ERR
Environment=NANNY_STORAGE_DSN=file:/var/lib/nanny/nanny.sqlite
ExecStart=/usr/bin/nanny --config /etc/nanny/nanny.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
